@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: #D32D27;
  color: #000000;
  margin: 0;
  text-align: center;
}

.content {
  width: 95%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  background-color: #F7E39C;
  border: 5px solid #000000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.content-game {
  width: 75%;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #F7E39C;
  border: 5px solid #000000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-inputs {
  width: 75%;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #F7E39C;
  border: 5px solid #000000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vs-container {
  width: 75%;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #F7E39C;
  border: 5px solid #000000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .buttons-container {
    flex-direction: row;
  }
}
@media (max-width: 599px) {
  nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-small;
    color: #F7E39C;
    margin: 0 8px;
    padding: 5px 10px;
    background-color: #D32D27;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
}

h1,
h2 {
  font-size: 1.5rem;
}

p,
a {
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px 10px;
  background-color: #272727;
  border-bottom: 5px solid #FFFFFF;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #F7E39C;
  margin: 0 8px;
  padding: 5px 10px;
  background-color: #D32D27;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  color: #272727;
  background-color: #FFFFFF;
}

img {
  width: 250px;
}

button {
  text-decoration: none;
  font-weight: bold;
  color: #F7E39C;
  margin: 0 8px;
  padding: 5px 10px;
  background-color: #D32D27;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

select {
  text-decoration: none;
  font-weight: bold;
  color: #F7E39C;
  margin: 10px 8px auto;
  padding: 5px 10px;
  background-color: #D32D27;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

input {
  font-family: "Press Start 2P", sans-serif;
  padding: 10px;
  width: 80%;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 20px 0;
}

input::placeholder {
  color: #D32D27;
}

.pokePage {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pokePage button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #D32D27;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pokePage button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.pokePage span {
  font-size: 18px;
}
